{% extends 'BlueBearAdminBundle::admin.layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'bundles/bluebearbackoffice/css/bootstrap-datetimepicker.min.css'
    'bundles/bluebearbackoffice/css/backoffice.css'
    'bundles/bluebearbackoffice/css/font-awesome.min.css'
    filter='cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% javascripts
    'assets/jquery/jquery.min.js'
    'assets/jquery-ui/ui/minified/core.min.js'
    'assets/jquery-ui/ui/minified/widget.min.js'
    'assets/jquery-ui/ui/minified/mouse.min.js'
    'assets/jquery-ui/ui/minified/sortable.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
    'bundles/bluebearbackoffice/js/vendors/highcharts.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block topMenu %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand {{ getClassForRoute('bluebear_backoffice_homepage') }}"
                   href="{{ path('bluebear_backoffice_homepage') }}">BlueBear by CleverGaming</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Pencils <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{{ getClassForRoute('bluebear_admin_pencil_set_list') }}">
                                <a href="{{ path('bluebear_admin_pencil_set_list') }}">Pencil Sets</a>
                            </li>
                            <li class="{{ getClassForRoute('bluebear_admin_pencil_list') }}">
                                <a href="{{ path('bluebear_admin_pencil_list') }}">Pencils</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ getClassForRoute('bluebear_admin_layer_list') }}">
                        <a href="{{ path('bluebear_admin_layer_list') }}">Layers</a>
                    </li>
                    <li class="{{ getClassForRoute('bluebear_admin_map_list') }}">
                        <a href="{{ path('bluebear_admin_map_list') }}">Maps</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Api <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{{ getClassForRoute('bluebear_backoffice_api') }}">
                                <a href="{{ path('bluebear_backoffice_api') }}">Api</a>
                            </li>
                            <li class="{{ getClassForRoute('bluebear_backoffice_api_scenario') }}">
                                <a href="{{ path('bluebear_backoffice_api_scenario') }}">Scenario</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Entities <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{{ getClassForRoute('bluebear_admin_entity_model_list') }}">
                                <a href="{{ path('bluebear_admin_entity_model_list') }}">Entity Models list</a>
                            </li>
                            <li class="{{ getClassForRoute('bluebear_admin_entity_instance_list') }}">
                                <a href="{{ path('bluebear_admin_entity_instance_list') }}">Entity Instances list</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ getClassForRoute('bluebear_editor_homepage') }}">
                        <a href="{{ path('bluebear_editor_homepage') }}">Editor</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Parameters <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{{ getClassForRoute('bluebear_admin_user_list') }}">
                                <a href="{{ path('bluebear_admin_user_list') }}">Users</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Play <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="disabled">
                                <a href="">Play Chess (in progress...)</a>
                            </li>
                            <li class="{{ getClassForRoute('bluebear.dungeon.createCharacter') }}">
                                <a href="{{ path('bluebear.dungeon.createCharacter') }}">Create D&D character</a>
                            </li>
                            <li class="{{ getClassForRoute('bluebear_admin_character_list') }}">
                                <a href="{{ path('bluebear_admin_character_list') }}">List D&D characters</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ getClassForRoute('fos_user_security_logout') }}">
                        <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
