{% set route = app.request.get('_route') %}

<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="{{ route[:'bluebear_backoffice_homepage'|length] == 'bluebear_backoffice_homepage' ? 'active' : '' }}">
                <a href="{{ path('bluebear_backoffice_homepage') }}">Homepage</a>
            </li>
            <li class="{{ route[:'bluebear_backoffice_image'|length] == 'bluebear_backoffice_image' ? 'active' : '' }}">
                <a href="{{ path('bluebear_backoffice_image') }}">Images</a>
            </li>
            <li class="{{ route[:'bluebear_backoffice_pencil'|length] == 'bluebear_backoffice_pencil' ? 'active' : '' }}">
                <a href="{{ path('bluebear_backoffice_pencil') }}">Pencils</a>
            </li>
            <li class="{{ route[:'bluebear_backoffice_layer'|length] == 'bluebear_backoffice_layer' ? 'active' : '' }}">
                <a href="{{ path('bluebear_backoffice_layer') }}">Layers</a>
            </li>
            <li>
                <a href="">Unit</a>
                <ul class="nav nav-pills">
                    <li>
                        <a href="{{ path('bluebear_backoffice_units') }}"></a>
                    </li>
                </ul>
            </li>
            <li class="{{ route[:'bluebear_backoffice_map'|length] == 'bluebear_backoffice_map' ? 'active' : '' }}">
                <a href="{{ path('bluebear_backoffice_map') }}">Maps</a>
            </li>
            <li class="{{ route[:'bluebear_editor'|length] == 'bluebear_editor' ? 'active' : '' }}">
                <a href="{{ path('bluebear_editor_homepage') }}">Editor</a>
            </li>
        </ul>
    </div>
</div>