{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_pencil_edit') }}">Add new pencil</a></li>
        <li><a href="{{ path('bluebear_backoffice_pencil_set_edit') }}">Add new pencil set</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Pencils</h1>

    <div class="pencils-list">
        {% if pencils|length > 0 %}
            {% for pencil in pencils %}
                <div class="item">
                    <div class="info">
                        {{ pencil.label }}
                    </div>
                    <div class="actions">
                        <a href="{{ path('bluebear_backoffice_pencil_edit', {id: pencil.id}) }}">edit</a>
                        <a href="{{ path('bluebear_backoffice_pencil_delete', {id: pencil.id}) }}"
                           class="item-delete">delete</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            No pencil yet
        {% endif %}
    </div>

    <h1>Pencils Set</h1>

    <div class="pencils-list">
        {% if pencilSets|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pencilSet in pencilSets %}
                        <tr>
                            <td>{{ pencilSet.id }}</td>
                            <td>{{ pencilSet.label }}</td>
                            <td>
                                <a href="{{ path('bluebear_backoffice_pencil_set_edit', {id: pencilSet.id}) }}"
                                   class="btn btn-sm">edit</a>
                                <a href="{{ path('bluebear_backoffice_pencil_set_delete', {id: pencilSet.id}) }}"
                                   class="item-delete btn btn-sm">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No pencil set yet.
        {% endif %}
    </div>
{% endblock %}