<div class="turn turn-{{ data.turn }}-{{ data.source.id }} turn-{{ data.turn }}">
    <p>Turn {{ data.turn }}</p>
    <p>{{ data.source.label }} ({{ data.source.army.player.name }})</p>
    <p>{{ data.source.get('hit_points') }}/{{ data.source.get('max_hit_points') }}</p>
    <p>{{ data.source.get('race') }}</p>
    <ul>
        {% for attack in data.attacks %}
            <li>
                <form action="{{ path('bluebear_engine_trigger_event', {eventName: 'bluebear.combat.attack'}) }}"
                      method="post" class="attack-form" data-attack="{{ attack.code }}">
                    <p>{{ attack.label }}&nbsp;(Damage : {{ attack.damage }})</p>
                    <p>{{ attack.description }}</p>
                    <input type="hidden" name="eventData"/>
                    <input type="submit" class="btn btn-default" value="Attack"/>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    var attackRequest = {
        gameId: {{ data.gameId }},
        contextId: {{ data.contextId }},
        attackerId: {{ data.source.id }},
        defenderId: {{ data.targets[0].id }}, {# only one target handle in hell arena #}
        turn: {{ data.turn }},
        attack: ''
    };
    var attackForms = $('.turn-' + {{ data.turn }} + '-' + {{ data.source.id }} + ' form');

    attackForms.find('input[type=submit]').on('click', function () {
        var attackForm = $(this).parents('form');
        attackRequest.attack = attackForm.data('attack');
        attackForm.find('input[name="eventData"]').val(JSON.stringify(attackRequest));

        $.ajax({
            url: attackForm.attr('action'),
            method: 'post',
            data: attackForm.serialize(),
            success: function () {
                var combatForm = $('.combat-form');
                combatForm.submit();
                // hiding previous form combat
                attackForms.each(function (index, form) {
                    if ($(form).data('attack') != attackRequest.attack) {
                        $(form).parent('li').hide();
                    } else {
                        $(form).find('input[type=submit]').hide();
                    }
                });
                // hiding previous turn container
                $('.turn-' + '{{ data.turn - 1 }}').hide();
            }
        });
        return false;
    });
</script>
