{% extends "BlueBearBackofficeBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <h1 class="text-center">BlueBear</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Connexion</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post" accept-charset="UTF-8" role="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" type="text" value="{{ last_username }}" required="required">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" name="_password" type="password" value="" required="required">
                            </div>
                            {% if error %}
                                <div class="text-danger">{{ error|trans }}</div>
                            {% endif %}
                            <div class="checkbox">
                                <label>
                                    <input name="_remember_me" type="checkbox" value="on"> {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}