<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown" role="button"
       aria-expanded="false">Pencils <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="{{ getClassForRoute('bluebear_admin_pencil_set_list') }}">
            <a href="{{ path('bluebear_admin_pencil_set_list') }}">Pencil Sets</a>
        </li>
        <li class="{{ getClassForRoute('bluebear_admin_pencil_list') }}">
            <a href="{{ path('bluebear_admin_pencil_list') }}">Pencils</a>
        </li>
    </ul>
</li>
<li class="{{ getClassForRoute('bluebear_admin_layer_list') }}">
    <a href="{{ path('bluebear_admin_layer_list') }}">Layers</a>
</li>
<li class="{{ getClassForRoute('bluebear_admin_map_list') }}">
    <a href="{{ path('bluebear_admin_map_list') }}">Maps</a>
</li>
<li class="{{ getClassForRoute('bluebear_backoffice_api') }}">
    <a href="{{ path('bluebear_backoffice_api') }}">Api</a>
</li>
<li class="{{ getClassForRoute('bluebear_backoffice_documentation') }}">
    <a href="{{ path('bluebear_backoffice_documentation') }}">Docs</a>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown" role="button"
       aria-expanded="false">Entities <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="{{ getClassForRoute('bluebear_admin_entity_model_list') }}">
            <a href="{{ path('bluebear_admin_entity_model_list') }}">Entity Models list</a>
        </li>
        <li class="{{ getClassForRoute('bluebear_admin_entity_instance_list') }}">
            <a href="{{ path('bluebear_admin_entity_instance_list') }}">Entity Instances list</a>
        </li>
    </ul>
</li>
<li class="{{ getClassForRoute('bluebear_editor_homepage') }}">
    <a href="{{ path('bluebear_editor_homepage') }}">Editor</a>
</li>
<li class="{{ getClassForRoute('fos_user_security_logout') }}">
    <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username}})</a>
</li>