<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand {{ getClassForRoute('bluebear_backoffice_homepage') }}"
               href="{{ path('bluebear_backoffice_homepage') }}">BlueBear by CleverGaming</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-expanded="false">Map <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{{ getClassForRoute('bluebear.admin.entity_model.list') }}">
                            <a href="{{ path('bluebear.admin.entity_model.list') }}">Entity Models list</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.entity_instance.list') }}">
                            <a href="{{ path('bluebear.admin.entity_instance.list') }}">Entity Instances list</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.layer.list') }}">
                            <a href="{{ path('bluebear.admin.layer.list') }}">Layers</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.map.list') }}">
                            <a href="{{ path('bluebear.admin.map.list') }}">Maps</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.pencil_set.list') }}">
                            <a href="{{ path('bluebear.admin.pencil_set.list') }}">Pencil Sets</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.pencil.list') }}">
                            <a href="{{ path('bluebear.admin.pencil.list') }}">Pencils</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.player.list') }}">
                            <a href="{{ path('bluebear.admin.player.list') }}">Players</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.admin.army.list') }}">
                            <a href="{{ path('bluebear.admin.army.list') }}">Armies</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-expanded="false">Api <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{{ getClassForRoute('bluebear_backoffice_api') }}">
                            <a href="{{ path('bluebear_backoffice_api') }}">Api</a>
                        </li>
                    </ul>
                </li>
                <li class="{{ getClassForRoute('bluebear_editor_homepage') }}">
                    <a href="{{ path('bluebear_editor_homepage') }}">Editor</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-expanded="false">Parameters <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{{ getClassForRoute('bluebear.admin.user.list') }}">
                            <a href="{{ path('bluebear.admin.user.list') }}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-expanded="false">Play <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="disabled">
                            <a href="">Play Chess (in progress...)</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.dungeon.createCharacter') }}">
                            <a href="{{ path('bluebear.dungeon.createCharacter') }}">Create D&D character</a>
                        </li>
                        <li class="{{ getClassForRoute('bluebear.dungeon.combat.create') }}">
                            <a href="{{ path('bluebear.dungeon.combat.create') }}">Hell Arena</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ getClassForRoute('fos_user_security_logout') }}">
                    <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username }})</a>
                </li>
            </ul>
        </div>
    </div>
</div>
