{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block container %}
    <div class="container-fluid">
        <div class="row-fluid" id="editor">
            {% if edition %}
                <div class="col-md-2 map-editor-form">
                    {# layers #}
                    <label>
                        Layer
                        <select class="form-control" id="layer_selector" name="bluebear_map_editor[selected_layer]">
                            {% for layer in context.map.layers %}
                                {% if layer.type not in ['grid', 'selection', 'events', 'debug'] %}
                                    <option value="{{ layer.name }}"
                                            data-layer-type="{{ layer.type }}" {{ layer.type == 'land' ? 'selected' }}>{{ layer.label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                    <div class="clear"></div>
                    {# pencils #}
                    {% for pencilSet in context.map.pencilSets %}
                        {% for pencil in pencilSet.pencils %}
                            {# @var \BlueBear\CoreBundle\Entity\Map\Pencil pencil #}
                            <div class="radio pencil" data-pencil-type="{{ pencil.type }}">
                                <label>
                                    <input type="radio" name="bluebear_map_editor[selected_pencil]"
                                           value="{{ pencil.name }}">
                                    {{ pencil.label ?: pencil.name }}
                                    <span class="text-muted">{{ pencil.tags }}</span>
                                    {% if pencil.image %}
                                        <img width="50" height="50" src="{{ resource_path(pencil.image) }}"/>
                                        <div class="clear"></div>
                                    {% else %}
                                        <div style="
                                                background-image: url({{ resource_path(pencil.pencilSet.sprite) }});
                                                background-position: -{{ pencil.spriteX }}px -{{ pencil.spriteY }}px;
                                                width: {{ pencil.spriteWidth }}px;
                                                height: {{ pencil.spriteHeight }}px;
                                                background-repeat: no-repeat;
                                                "></div>
                                    {% endif %}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="{{ edition ? 'col-md-10' : 'col-md-12' }}">
                <h1>{{ edition ? 'Map Editor' : 'Test play' }}</h1>
                <a href="{{ path('bluebear_map_edit', {mapName: app.request.get('mapName'), edition: edition ? '0': '1'}) }}">Toggle
                    mode</a>
                <div class="map">
                    <style>
                        /* For debugging purpose only */
                        canvas {
                            background: white;
                            width: 100%;
                            height: 600px;
                        }
                    </style>
                    <canvas id="canvas_map" data-options="{{ jikpozeOptions|json_encode }}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script type="application/dart" src="{{ dartHost }}/main.dart"></script>
    <script src="{{ dartHost }}/packages/browser/dart.js"></script>
    <script>
        $(function () {
            function switchLayer() {
                var type = $('#layer_selector option:selected').data('layer-type');
                var first = true;
                $('.map-editor-form .pencil').each(function () {
                    var t = $(this);
                    if (t.data('pencil-type') == type) {
                        t.show();
                        if (first) {
                            t.find('input[type="radio"]').prop('checked', true);
                            first = false;
                        }
                    } else {
                        t.hide();
                    }
                });

            }

            $('#layer_selector').change(switchLayer);
            switchLayer();
        });
    </script>
{% endblock %}
