{% extends 'BlueBearEditorBundle::layout.html.twig' %}

{% block content %}
    <div id="editor">
        <div class="col-md-2">
            {% for pencilSet in map.pencilSets %}
                <ul class="accordion">
                    <li><strong>{{ pencilSet.label }}</strong>
                        <ul>
                            {% for pencil in pencilSet.pencils %}
                                <li data-id="{{ pencil.id }}">
                                    {{ pencil.label }}

                                    {% if pencil.image %}
                                        <img width="50" height="50"
                                             src="data:image/{{ pencil.image.resource.extension }};base64,{{ pencil.image.resource.fileContent }}"/>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-md-10">
            <h1>Map Editor</h1>
        </div>
    </div>

    <script>
        $(document).on('ready', function () {
            $('.accordion').accordion({
                collapsible: true,
                active: 1,
                heightStyle: 'content'
            });
        });
    </script>
{% endblock %}