{% extends 'BlueBearEditorBundle::layout.html.twig' %}

{% block content %}
    <div id="editor">
        <div class="col-md-2">
            {# layers #}
            <label>
                Layer
                <select>
                    {% for layer in map.layers %}
                        <option value="{{ layer.id }}">{{ layer.label }}</option>
                    {% endfor %}
                </select>
            </label>

            {# pencils #}
            {% for pencilSet in map.pencilSets %}
                <ul class="accordion">
                    <li><strong>{{ pencilSet.label }} - {{ pencilSet.type }}</strong>
                        <ul>
                            {% for pencil in pencilSet.pencils %}
                                <li data-id="{{ pencil.id }}">
                                    {{ pencil.label }}

                                    {% if pencil.image %}
                                        <img width="50" height="50"
                                             src="data:image/{{ pencil.image.resource.extension }};base64,{{ pencil.image.resource.fileContent }}"/>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-md-10">
            <h1>Map Editor</h1>

            <div class="row">
                <form action="{{ path('bluebear_engine_trigger_event', {eventName: 'bluebear.engine.onMapSave'}) }}"
                      method="post">
                    <input type="submit" class="btn btn-default save-map" value="save"/>
                </form>
            </div>

            <div class="map">
                <br/>map json :<br/>

                <div class="panel">
                    <pre>{{ map.toArray | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('ready', function () {
            $('.accordion').accordion({
                collapsible: true,
                active: 1,
                heightStyle: 'content'
            });
            $('.save-map').on('click', function () {
                var data = {
                    mapName: {{ map.name }}
                };
                var form = $(this).parents('form');

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: 'eventData=' + JSON.stringify(data)
                });


                return false;
            });
        });
    </script>
{% endblock %}