{% extends 'BlueBearEditorBundle::layout.html.twig' %}

{% block content %}
    <h1>Map Editor</h1>

    <div class="table-responsive">

        {% if maps|length > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                <th>Id</th>
                <th>Label</th>
                <th></th>
                </thead>
                <tbody>
                {% for map in maps %}
                    <tr>
                        <td>{{ map.id }}</td>
                        <td>{{ map.label }}</td>
                        <td>
                            <a href="{{ path('bluebear_map_edit', {mapName: map.name}) }}" class="btn btn-sm">edit</a>
                            <a href="{{ path('bluebear_map_delete', {id: map.id}) }}" class="item-delete btn btn-sm">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No map was yet created in backoffice. Click <a href="{{ path('bluebear_admin_map_create') }}">here</a>
            to create one.
        {% endif %}
    </div>
{% endblock %}