{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_map_edit') }}">Add new map</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Map</h1>
    <div>
        {% if maps|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
            {% for map in maps %}
                <tr>
                    <td>{{ map.id }}</td>
                    <td>{{ map.label }}</td>
                    <td>
                        <a href="{{ path('bluebear_backoffice_map_edit', {id: map.id}) }}"
                           class="btn btn-sm">edit</a>
                        <a href="{{ path('bluebear_backoffice_map_delete', {id: map.id}) }}"
                           class="item-delete btn btn-sm">delete</a>
                    </td>
                </tr>
            {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No map yet
        {% endif %}
    </div>
{% endblock %}