{# list of images widget #}
{% block image_list_widget %}
    {% set image = form.vars.value %}
    {{ form_label(form) }}

    <div class="form-group">
        <div class="col-sm-9 image-widget">
            {% if orphans|length > 0 %}
                <ul class="">
                    {% for oprhan in orphans %}
                        {% set active = (oprhan.id == form.vars.value) ? ' active' : '' %}

                        <li class="image{{ active }}">
                            <a href="#" class="select-image" data-id="{{ oprhan.id }}">
                                <img src="data:image/{{ oprhan.resource.extension }};base64,{{ oprhan.resource.fileContent }}"
                                     height="50" width="50"/>
                            </a>
                            <br/>
                            <a href="#" class="select-image" data-id="{{ oprhan.id }}"
                               title="{{ oprhan.name }}">{{ oprhan.name|truncate(15, false, '...') }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>All existing images have already been linked to a pencil</strong>
            {% endif %}
            <input type="hidden" name="{{ form.vars.full_name }}" class="hidden-value"
                   value="{{ form.vars.value ? form.vars.value : 1 }}"/>
            {{ form_errors(form) }}
        </div>
        <script>
            $(document).on('ready', function () {
                var container = $('.image-widget');

                container.find('.select-image').on('click', function () {
                    container.find('.hidden-value').val($(this).data('id'));
                    container.find('.image').removeClass('active');
                    $(this).parents('.image').addClass('active');

                    return false;
                });
            });
        </script>
    </div>
{% endblock %}

{# list of pencil set #}
{% block pencil_set_list_widget %}
    {{ form_widget(form) }}

    <script>
        $(document).on('ready', function () {
            // removing already added items from select
            $(window).on('add.mopa-collection-item', function (event, collection) {
                var ids = [];

                collection.find('select').each(function () {
                    console.log($(this), $(this).val());
                });

                console.log('data', ids);
            });
        });
    </script>
{% endblock %}

{# list of generic items #}
{% block table_list %}
    {% if list|length > 0 %}
        {% set fields = fields is defined ? fields : ['id', 'label'] %}

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field | capitalize }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for entity in list %}
                    <tr>
                        {% for field in fields %}
                            <td>{{ attribute(entity, field) }}</td>
                        {% endfor %}
                        <td>
                            <a href="{{ path(editRoute, {id: entity.id}) }}"
                               class="btn btn-sm">edit</a>
                            <a href="{{ path(deleteRoute, {id: entity.id}) }}"
                               class="item-delete btn btn-sm">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No record yet
    {% endif %}
{% endblock %}

{% block menu %}
    {% if menu|length > 0 %}
        {% for route, item in menu %}
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path(route) }}">{{ item }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}


{# generic edition form #}
{% block generic_form %}
    {% set containerClass = containerClass is defined ? containerClass : '' %}
    {% set title = title is defined ? title : null %}
    {% set encType = (form.vars.multipart) ? 'multipart/form-data' : 'application/x-www-form-urlencoded' %}

    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <div class="well {{ containerClass }}">
        <form action="{{ path(action, { id: form.vars.value.id}) }}" method="post" class="form-horizontal"
              enctype="{{ encType }}">
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-lg-12 col-lg-offset-9">
                    <a href="{{ path(returnRoute) }}" class="right btn"><i class="fa fa-arrow-circle-left"></i>&nbsp;
                        &nbsp;cancel</a>
                    <input type="submit" value="save" class="right btn btn-default"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}