{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_unit_edit') }}">Add new unit</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Map</h1>
    <div>
        {% if units|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unit in units %}
                        <tr>
                            <td>{{ unit.id }}</td>
                            <td>{{ unit.label }}</td>
                            <td>
                                <a href="{{ path('bluebear_backoffice_unit', {id: unit.id}) }}"
                                   class="btn btn-sm">edit</a>
                                <a href="{{ path('bluebear_backoffice_unit_delete', {id: unit.id}) }}"
                                   class="item-delete btn btn-sm">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No unit yet
        {% endif %}
    </div>
{% endblock %}