<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        {% if menu.mainItem %}
            <div class="navbar-header">
                {% set activeClass = (menu.mainItem == currentRoute) ? ' active' : '' %}
                <a class="navbar-brand{{ activeClass }}"  href="{{ path(menu.mainItem.route) }}">
                    {{ menu.mainItem.label }}</a>
            </div>
        {% endif %}
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                {% for item in menu.items %}
                    {% set activeClass = (item.route == currentRoute) ? 'active' : '' %}

                    <li class="{{ activeClass }}">
                        <a href="{{ path(item.route, item.parameters) }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>