{% extends '@BlueBearCore/Form/fields.html.twig' %}

{% block entity_model_attribute_row %}
    <div class="form-group">
        <div class="col-xs-3">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col-xs-5">
            {{ form_widget(form.value) }}
            {{ form_errors(form.value) }}
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block entity_instance_attribute_row %}
    {{ block('entity_model_attribute_row') }}
{% endblock %}
