{% extends admin.layout is defined ? admin.layout : '' %}

{% block right %}
    {{ render(controller('BlueBearMenuBundle:Menu:menu', {name: 'right'})) }}
{% endblock %}

{% block content %}
    {% set containerClass = containerClass is defined ? containerClass : '' %}
    {% set encType = (form.vars.multipart) ? 'multipart/form-data' : 'application/x-www-form-urlencoded' %}

    <h1>{{ admin.currentAction.title }}</h1>

    <div class="well {{ containerClass }}">
        <form action="{{ path(admin.currentAction.route, { id: form.vars.value.id}) }}" method="post" class="form-horizontal"
              enctype="{{ encType }}">
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-lg-offset-9">
                    <a href="{{ path(admin.action('list').route) }}" class="right btn"><i class="fa fa-arrow-circle-left"></i>&nbsp;
                        &nbsp;cancel</a>
                    {# TODO handle click on "just" save #}
                    <button type="submit" value="save" name="submit"
                            class="right btn btn-default">Save&nbsp;&nbsp;<i class="fa fa-floppy-o"></i></button>
                    <button type="submit" value="save" name="submit-and-list"
                    class="right btn btn-default">Save and return to list&nbsp;&nbsp;<i class="fa fa-list"></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

