<li class="{{ route[:'bluebear_backoffice_pencil_set'|length] == 'bluebear_backoffice_pencil_set' ? 'active' : '' }}">
    <a href="{{ path('bluebear_backoffice_pencil_set') }}">Pencil Sets</a>
</li>
<li class="{{ route[:'bluebear_backoffice_layer'|length] == 'bluebear_backoffice_layer' ? 'active' : '' }}">
    <a href="{{ path('bluebear_backoffice_layer') }}">Layers</a>
</li>
<li class="{{ route[:'bluebear_backoffice_map'|length] == 'bluebear_backoffice_map' ? 'active' : '' }}">
    <a href="{{ path('bluebear_backoffice_map') }}">Maps</a>
</li>
<li class="{{ route[:'bluebear_backoffice_api'|length] == 'bluebear_backoffice_api' ? 'active' : '' }}">
    <a href="{{ path('bluebear_backoffice_api') }}">Api</a>
</li>
<li class="{{ route[:'bluebear_backoffice_documentation'|length] == 'bluebear_backoffice_documentation' ? 'active' : '' }}">
    <a href="{{ path('bluebear_backoffice_documentation') }}">Docs</a>
</li>
<li class="{{ getClassForRoute('bluebear_backoffice_unit') }}">
    <a href="{{ path('bluebear_backoffice_entity') }}">Units</a>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown" role="button"
       aria-expanded="false">Content <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{{ path('bluebear_backoffice_entity') }}">Units</a>
        </li>
    </ul>
</li>
<li class="{{ route[:'bluebear_editor'|length] == 'bluebear_editor' ? 'active' : '' }}">
    <a href="{{ path('bluebear_editor_homepage') }}">Editor</a>
</li>
<li class="{{ getClassForRoute('fos_user_security_logout') }}">
    <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username}})</a>
</li>