{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_image_upload') }}">Upload an image</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Images</h1>

    <p class="help-block">List of uploaded images</p>

    <div class="list">
        {% for image in images %}
            <a href="{{ path('bluebear_backoffice_image_edit', {id: image.id}) }}">
                <img src="data:image/{{ image.resource.extension }};base64,{{ image.resource.fileContent }}"
                     class="img-thumbnail" width="140" height="140"/>
            </a>
        {% endfor %}
    </div>


    <a href="{{ path('bluebear_backoffice_image_orphans') }}">Orphans images (images not linked to an pencil)</a>
{% endblock %}